<div class="col-md-10 offset-md-3">
    <%= form_tag root_path, :method => 'POST' do %>
        <div class="row">
            <div class="col">
                <%= text_field_tag 'ticker', nil, placeholder: "Ticker", size: 50, class:"form-control mx-sm-3 mb-2" %>
            </div>
            <div class="col">
                <%= submit_tag 'Lookup', class:"btn btn-dark" %>
            </div>
        </div>
    <% end %>
</div>
<br><br>

<div>
    <% if @stock %>
        <h3><%= @stock.company_name %></h3>
        <img src="<%= @logo.url %>"><br><br>
        <b>company_name:</b> <%= @company.company_name %><br>
        <b>company_description:</b> <%= @company.description %><br><br>
        <h4>latest_price: <b><%= @stock.latest_price %></h4></b><br>
        <b>market_cap:</b> <%= @stock.market_cap %><br>
        <b>week52_high:</b> <%= @stock.week52_high %><br>
        <b>week52_low:</b> <%= @stock.week52_low %><br>
    <% elsif @nothing %>
        <div class="alert alert-light alert-dismissible fade show" role="alert">
            <%= @nothing %>
        </div>
    <% elsif @error %>
        <div class="alert alert-light alert-dismissible fade show" role="alert">
            <%= @error %>
        </div>
    <% end %>
</div>


