<%= form_tag root_path, :method => 'POST' do %>
    <div class="row">
        <div class="col">
            <%= text_field_tag 'ticker', nil, placeholder: "Enter Ticker Symbol", size: 50, class:"form-control mx-sm-3 mb-2" %>
        </div>
        <div class="col">
            <%= submit_tag 'Lookup', class:"btn btn-dark" %>
        </div>
    </div>
<% end %>

<br>

<% if @stock %>
    <h3><%= @stock.company_name %></h3>
    <img src="<%= @logo.url %>"><br><br>
    latest_price: <%= @stock.latest_price %><br><br>
    market_cap: <%= @stock.market_cap %><br>
    week52_high: <%= @stock.week52_high %><br>
    week52_low: <%= @stock.week52_low %><br>
<% elsif @nothing %>
    <div class="alert alert-light alert-dismissible fade show" role="alert">
        <%= @nothing %>
    </div>
<% elsif @error %>
    <div class="alert alert-light alert-dismissible fade show" role="alert">
        <%= @error %>
    </div>
<% end %>


